<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/offers/banner.jpg');">
  <div class="container container--100">
    <div class="row row--xxl-6-6 row--no-gutters">
      <div class="col">
        <div class="width width--lg">
          <h2 class="title title--xl">Book boutique Welsh stays at unbeatable prices</h2>
          <p class="text--xxxl space--xxs">Start your autumnal adventure here with hand-picked hotel offers. Expect rustic luxury and chic stays across the country – start your escape today</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-offers" href="{{site.baseurl}}/offers" class="btn btn--lg btn--red">View Offers</a>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>