<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/img.jpg');">
  <div class="container container--100">
    <div class="row row--xxl-6-6 row--no-gutters">
      <div class="col"></div>
      <div class="col">
        <div class="width width--lg">
          <h2 class="title title--xl">Lorem ipsum dolor sit amet consectetur.</h2>
          <p class="text--xxl space--xxs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique est non officiis consectetur modi accusamus atque tenetur laborum! Adipisci quae voluptatem fuga suscipit. Fugit amet accusantium nobis quos sunt commodi?</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--lg btn--red">Enter Now</a>
        </div>
      </div>
    </div>
  </div>
</div>