{% assign competition-page = site.html_pages | where: 'id', 'competition' | first %}
<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/competition/banner-bg.jpg');">
  <div class="container container--100">
    <div class="row row--xxl-6-6 row--no-gutters">
      <div class="col">
        <div class="width width--lg">
          <h2 class="title title--xl">{{competition-page.long-title}}</h2>
          <p class="text--xxxl space--xxs">{{competition-page.intro}}</p>
          <div class="space--md"></div>
          <a id="track-btn-footer-competition" href="{{site.baseurl}}{{competition-page.url}}" class="btn btn--lg btn--red">Enter Now</a>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>