---
layout: default
---

<div class="vpad--xl bg--dark">
  <div class="container">
    <div class="width width--xl text--center text--xxl">
      <p>Explore a land of rolling hills and coastal treasures. Experience adventure like no other. This is Wales. This is the year of discovery.</p>
      <p>Zip-line along vast quarries, hop across isolated islands, gaze at a sea of stars – your adventure awaits, laid out on these pages to inspire your Welsh getaway. Discover epic, cross-country routes and little-known hideaways, adrenaline-fuelled activities and beguiling natural sights. Book your Welsh digs and enter our incredible competition, and craft your own adventure in Wales.</p>
    </div>
  </div>
</div>

<div class="container vpad--xl">
  {% assign topic-pages = site.html_pages | where: 'layout', 'topic' | sort: 'nav-order' %}
  {% for page in topic-pages %}
    <div class="bob{% cycle '', ' bob--swap' %}">
      <div class="bob__img">
        <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');">
          <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
        </div>
      </div>
      <div class="bob__text">
        <h2 class="title title--xl">{{page.title}}</h2>
        <p class="text--xl">{{page.intro}}</p>
        <div class="space--sm"></div>
        <a href="{{site.baseurl}}{{page.url}}" class="btn btn--red">Discover more</a>
      </div>
    </div>
  {% endfor %}
</div>
