---
layout: default
---

<div class="vpad--xl bg--dark">
  <div class="container">
    <div class="width width--xl text--center text--xxl">
      <p>Start your autumnal Wales adventure here.</p>
      <p>Forage on beautiful beaches, visit remote islands, gaze at a sea of stars – your autumnal escape awaits, laid out on these pages to inspire your Welsh getaway. Discover epic, cross-country routes and little-known hideaways, foodie delights and gentle adventures. Find your luxury hotel, enter our incredible competition, and craft your very own adventure in Wales this autumn.</p>
    </div>
  </div>
</div>

<div class="container vpad--xl">
  {% assign topic-pages = site.html_pages | where: 'layout', 'topic' | sort: 'nav-order' %}
  {% for page in topic-pages %}
    <div class="bob{% cycle '', ' bob--swap' %}">
      <div class="bob__img">
        <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/nav.jpg');">
          <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
        </div>
      </div>
      <div class="bob__text">
        <h2 class="title title--xl">{{page.title}}</h2>
        <p class="text--xl">{{page.intro}}</p>
        <div class="space--sm"></div>
        <a href="{{site.baseurl}}{{page.url}}" class="btn btn--red">Discover more</a>
      </div>
    </div>
  {% endfor %}
</div>
