---
layout: default
---

<div class="vpad--xl bg--dark">
  <div class="container">
    <div class="width width--xl text--center text--xxl">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

<div class="vpad--xxxl">
  <div class="container">
    {% for item in page.groups %}
      {% unless forloop.first %}<div class="space--xxxl"></div>{% endunless %}
      <div class="title title--xxl">{{item.title}}</div>
      <div class="space--md"></div>
      <div class="row row--6-6 row--gutters-xl">
        {% for poi in item.pois %}
          <div class="col">
            <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{poi.id}}.jpg');">
              {% if poi.image-credit %}<div class="bg-img__credit">© Crown copyright (<span class="js-year">2018</span>) Visit Wales</div>{% endif %}
            </div>
            <div class="space--md"></div>
            <h3 class="title title--sm">{{poi.title}}</h3>
            <p class="text--lg">{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>